[DEFAULT]

train_input = ['corpus.tc.32k.zh.shuf', 'corpus.tc.32k.en.shuf']
valid_input = ['newsdev2017.tc.32k.zh', 'newsdev2017.tc.en']
test_input = ['newstest2017.tc.32k.zh', 'newstest2017.tc.en']
vocab = ['vocab.32k.zh.txt', 'vocab.32k.en.txt']
test_ref = test.talp

exp_dir = dataset-original
label = output
output = ${exp_dir}/${label}

model = mask_align

batch_size = 9000
update_cycle = 1
device_list = []
half = False
